input, textarea {
    font-family: 'inherit';
    font-size: 100%;
}

::placeholder {
    color: red;
    font-size: 20px;
}

textarea {
    color: red;
    font-size: 20px;
}

.error {
    color: red;
    font-size: 20px;
}
label {
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
input[type="submit"] {
    font-size: 20px;
}

input[type="time"] {
    padding: 4px;
}